@import url("./reset.css");


/*
* All theme colours
*/
.dark-theme {
    --background: hsl(207, 26%, 17%);
    --background-gradient: linear-gradient(
        to bottom,
        var(--background),
        var(--background) 80%,
        hsl(210, 26%, 17%) 80%,
        hsl(210, 26%, 17%)
      );
    --text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
    --input: var(--text);

    color: var(--text);
}

.light-theme {
    --background: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
    --elements: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);

    color: var(--text);
}


/*
* Global css
*/
body {
    font-size:14px;
    font-weight: 300;
}

