@import url("./reset.css");

body {
    font-size:14px;
    color: var(--text);
    font-weight: 300;
}

.dark-theme {
    --background: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
    --input: var(--text);
}

.ligh-theme {
    --background: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
    --elements: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);
}

