.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
	background: var(--background);
}





.controls {
	display:flex;
	justify-content: space-between;
	width:clamp(10rem, 90vw, 100rem);
	padding:3rem 0rem;
}



.searchBy {

}
