.header {
    width:100%;
    padding:1rem 5vw;
    height:5rem;

    display:flex;
    align-items: center;
    justify-content: space-between;

    color: var(--text);
    background: var(--elements);
}

.heading {
    font-size:clamp(1rem, 3vw, 1.5rem);
}

.modeContainer {
    display: flex;
    gap:1rem;
    align-items: center;
}

.modeContainer:hover {
    cursor: pointer;
}